* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
    -webkit-app-region: no-drag;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    overflow-x: hidden;
    transition: all 0.1s ease;
    transform: all 0.1s ease;
    -webkit-text-size-adjust: auto;
    text-size-adjust: auto;
}

@media screen and (min-width: 530px) {
    body {
        font-size: 1rem;
    }
    body h1 {
        font-size: 2rem;
    }
}

@media screen and (min-width: 630px) {
    * {
        font-size: 1.05rem;
    }
}

@media screen and (min-width: 730px) {
    * {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 830px) {
    * {
        font-size: 1.15rem;
    }
}

@media screen and (min-width: 930px) {
    * {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1030px) {
    * {
        font-size: 1.25rem;
    }
}

.main {
    overflow-y: auto;
}

:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    transition: background-color 0.3s ease;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb {
    background: #dadada;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #b8b8b8;
    transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:active {
    background: #acacac;
    transition: background-color 0.3s ease;
}

.padding-error {
    margin-top: 7px;
}

.error-text {
    padding: 0 20px;
}

.error-text p {
    margin-top: 1px;
    margin-bottom: 7px;
}

.exit_bt {
    display: block;
    padding: 1.5%;
    background-color: #0078d4;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
}

.exit_bt:hover {
    background-color: #005a9e;
}

.boxes img {
    padding-right: 4px;
}

img {
    margin-bottom: 1px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

body {
    background-color: #ffffff;
    transition: background-color 0.5s ease, color 0.5s ease;
    margin: 0;
    padding: 0;
    height: 100vh;
    flex-direction: column;
    overflow-y: hidden;
    
}

.padding {
    padding-top: 0.6%;
}

.container {
    min-width: 495px;
    width: 75%;
    margin: auto;
    flex: 1;
    box-sizing: border-box;
}

.container-error {
    min-width: 395px;
    width: 75%;
    margin: auto;
    flex: 1;
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 3px;
    transition: background-color 0.3s ease;
}

.form-group label {
    display: table;
    padding-bottom: 3px;
    position: relative;
    transition: background-color 0.3s ease;
}

select {
    border: 1.5px solid black;
    transition: border-color 0.2s ease;
}

select:disabled{
    border: 1.5px solid #a5a5a5;
    cursor: not-allowed;
}

.custom-checkbox {
    appearance: none;
    background-color: #fafafa;
    border: 1px solid #212121;
    border-radius: 4px;
    width: 14px;
    height: 14px;
    display: inline-block;
    position: relative;
    transition: none;
}

.custom-checkbox:checked {
    transition: none;
    background-color: #0078d4;
    border-color: #0078d4;
}

.custom-checkbox:checked::after {
    transition: none;
    content: '\f00c';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 0.5rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-checkbox:disabled {
    border: 1px solid #6d6d6d;
    opacity: 0.5;
}

.form-group select {
    border-radius: 5px;
    width: 100%;
    padding: 2.5% 2.7%;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}
.form-group input[type="checkbox"] {
    box-sizing: border-box;
    margin-right: 5px;
    transition: border 0.11s ease, background-color 0.11s ease;
}
.form-group input[type="checkbox"]:disabled {
    cursor: not-allowed;
}
.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    transition: background-color 0.3s ease;
    border: 1.5px solid black;
    border-radius: 4px;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    transition: background-color 0.3s ease;
    margin-top: 3px;
    margin-left: 4px;
}

.boxes label {
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

#ap-text {
    padding-bottom: 5px;
}

.aditionals-checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transition: background-color 0.3s ease;
}
.aditionals-checkbox-group label {
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.buttons {
    display: flex;
    width: 100%;
}

.imgbuttons {
    width: 34px;
    height: 34px;
    cursor: pointer;
}

.start-button, .import, .export {
    display: block;
    background-color: #0078d4;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    width: 90%;
}

.start-button:hover, .import:hover, .export:hover {
    background-color: #005a9e;
}

.start-button.disabled, .import.disabled, .export.disabled {
    background-color: #00508d;
    cursor: not-allowed;
    opacity: 1;
}

.start-button {
    padding: 10px;
}

.export, .import {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3px;
    max-width: 50px;
    width: 10%;
    height: auto;
}

#project-options, #visio-options {
    padding-right: 7px;
    width: 90%;
    min-width: 187px;
}

#project-options {
    min-width: 188px;
}

#project-options select, #visio-options select, #outlook-options select, #primary-language, #teams-type {
    min-height: 34px;
}

#version-options {
    padding-right: 3.5px;
    width: 90%;
}

#edition-options {
    padding-left: 3.5px;
    width: 90%;
}

.sub-options-wrapper, .vedit-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sub-options, .vedit {
    position: relative;
    flex: 1;
    box-sizing: border-box;
}

.sub-options select, .vedit select {
    position: relative;
}

.vedit-wrapper img {
    padding-right: 3px;
}

#disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

#form-primary-language {
    padding-right: 7px;
    width: 70%;
    min-width: 368px;
}

#primary-language {
    padding: 1.4% 1.6%;
}

#additional-products {
    padding: 1.4% 1.6%;
}

.language-dialog {
    margin-bottom: 2px;
}

.language-dialog.disabled {
    cursor: not-allowed;
}

.language-dialog disabled {
    cursor: not-allowed;
}

.language-dialog .language-list {
    max-height: 115px;
    border: 1.5px solid #555;
    padding: 7px 10px;
    padding-bottom: 0px;
    border-radius: 4px;
    
}

.additional-products {
    padding-bottom: 6px;
}

.language-list.active {
    border: 1px solid black;
}

.language-dialog .language-list .language-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    
}

.language-item {
    white-space: nowrap;
}

.language-item input[type="checkbox"] {
    margin-right: 7px;
}

.lang-icon {
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.theme-container, .lang-container {
    padding-right: 4px;
}

.icon-container {
    border-radius: 50%;
    min-height: 37px;
    max-height: 37px;
    min-width: 37px;
    max-width: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: default;
}

.theme-icon {
    min-height: 30px;
    max-height: 30px;
    min-width: 30px;
    max-width: 30px;
    padding: 3px;
    transition: opacity 0.3s ease, background-color 0.3s ease, transform 0.2s ease;
    display: block;
    cursor: pointer;
}

#icon-ver, #iconed, #iconapps, #iconpr, #iconad, #iconadi, #iconinf, #iconinftwo, #iconinfthr {
    transition: opacity 0.3s ease, background-color 0.3s ease, transform 0.2s ease;
}

#iconinf, #iconinftwo, #iconinfthr {
    margin-bottom: 2px;
    padding-left: 4px;
    width: 14px;
    height: 14px;
    transition: opacity 0.3s ease, background-color 0.3s ease, transform 0.2s ease;
}

.icon-container:hover {
    background-color: #3d3d3d;
}

#appsTR, #peTR, #veTR, #alTR, #plTR, #apTR, #ouTR, #teTR {
    margin-left: 3.5px;
}

.links-wrapper {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.links a {
    position: relative;
}
#author, #github, #appver {
    font-size: 0.8rem;
    color: #269af3;
    display: inline-block;
    cursor: pointer;
}

#author:hover, #github:hover, #appver:hover {
    color: #0a87e7;
}

nav {
    -webkit-app-region: drag;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 40px;
    max-height: 40px;
    
    background-color: #040405;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

    overflow: hidden;
}

.nav-minimize {
    margin-bottom: 2.5px;
}

.nav-minimize, .nav-close {
    -webkit-app-region: no-drag;
    min-height: 40px;
    max-height: 40px;
    min-width: 40px;
    max-width: 40px;
    padding: 0;
    cursor: pointer;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    overflow: none;
}

.nav-minimize:hover {
    background-color: #3d3d3d;
    color: white;
}

.nav-close:hover {
    background-color: #e81123;
    color: white;
}

body.light-theme {
    background-color: #ffffff;
    color: #0c0c0e;
}

body.dark-theme {
    background-color: #0c0c0e;
    color: #ffffff;
    
}

body.dark-theme .custom-checkbox {
    background-color: #2d2d2d;
    border: 1px solid #555555;
}

body.dark-theme .custom-checkbox:disabled {
    border: 1px solid #555555;
    background-color: #2e2e2e;
}

body.dark-theme .custom-checkbox:checked {
    background-color: #0078d4;
    border-color: #0078d4;
}

body.dark-theme .form-group select {
    background-color: #2e2e2e;
    color: #ffffff;
    border: 1px solid #555;
}

body.dark-theme .language-item label {
    color: #ffffff;
}

body.dark-theme .language-dialog .language-list {
    background-color: #262626;
    color: #ffffff;
    border: 1px solid #555;
}

body.dark-theme .checkbox-group {
    border: 1.5px solid #555; 
}

body.dark-theme .checkbox-group label {
    color: #ffffff; 
}

body.dark-theme ::-webkit-scrollbar {
    width: 12px; 
    height: 12px; 
}

body.dark-theme ::-webkit-scrollbar-track {
    background: #151515; 
    border-radius: 10px; 
    transition: background-color 0.3s ease;
}

body.dark-theme ::-webkit-scrollbar-thumb {
    background: #222223; 
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

body.dark-theme ::-webkit-scrollbar-thumb:hover {
    background: #373738;
    transition: background-color 0.3s ease;
}

body.dark-theme ::-webkit-scrollbar-thumb:active {
    background: #3f3f41;
    transition: background-color 0.3s ease;
}

body.dark-theme .language-item .language-list {
    background-color: #ffffff;
    color: #ffffff;
}

body.dark-theme .language-item label {
    color: #ffffff;
}

body.dark-theme .language-item input[type="checkbox"] {
    accent-color: #0078d4; 
}

body.dark-theme .language-item input[type="checkbox"]:checked {
    background-color: #0078d4;
    border-color: #005a9e;
}

.left-nav {
    -webkit-app-region: drag;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 1.3rem;
    cursor: default;
    font-family: Consolas;
}

.left-nav h3 {
    -webkit-app-region: drag;
    font-size: 1.0rem;
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

.right-nav {
    -webkit-app-region: drag;
    display: flex;
    align-items: center;
    position: relative;
}

.icon {
    -webkit-app-region: drag;
    height: 25px;
    width: 25px;
    margin-right: 10px;
    cursor: default;
}